<%= form_for @dish, :html => {:class => "form-horizontal"} do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :course_name, class: "col-md-1 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :course_name, {readonly: true, class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-md-1 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: "col-md-1 control-label" %>
    <div class="input-group col-md-8">
      <div class="input-group-addon">$</div>
      <%= f.number_field :price, class: "form-control", step: 0.01 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-md-1 control-label" %>
    <div class="col-md-8">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-1 col-md-8">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-1 col-md-8">
      <%= link_to 'Delete Dish', @dish, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
